*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

header{
    width: 100%;
    height: 70px;
    padding: 0 10px;
    line-height: 70px;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 2;
}

footer {
    margin-top: 90px;
}

header li {
    display: inline-block;
    padding: 0 15px;
}

a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: black;
}

button {
    background-color: rgb(0, 97, 255);
    border: 1px solid rgb(0, 97, 255);
}

header .logo img {
    vertical-align: sub;
}

.button-inizia #inizia a,
.container .jumbotron-text a {
    color: white;
}

.jumbotron-img img {
    width: 700px;
    height: 380px;
}

.title h1 {
    font-size: 60px;
    padding-top: 35px;
    padding-bottom: 20px;
}

#jumbotron .large-container {
    margin-top: 70px;
}

.large-container{
    width: 100vw;
    max-width: 100%;
    height: 545px;
    background-color: rgb(180, 208, 231);
}

.container {
    width: 80%;
    height: 600px;
    margin: 0 auto;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

header .button-inizia {
    height: 100%;
}

header .logo {
    width: 127px;
    height: 100%;
}

header .list-left,
header .list-right {
    height: 100%;
    margin: 0 25px;
}

.jumbotron-text .arrow{
    font-size: 50px;
    margin-top: 35px;
}

.container .jumbotron-text {
    width: 35%;
}

.container .jumbotron-img {
    width: 65%;
}

.float-left{
    float: left;
}

.float-right {
    float: right;
}

.cards-services {
    min-width: 1270px;
    width: 100%;
    margin-top: 120px;
}

.cards-services .container .selection {
    padding-bottom: 25px;
}

.cards-services-title h1 {
    padding-bottom: 30px;
    font-size: 35px;
}

.cards-services .container .card {
    width: 31%;
    height: 820px;
}

.cards-services .container .vertical-card {
    width: 100%;
    margin-top: 37px;
}

.cards-services .container .border {
    border: 1px solid lightgray;
}

.card .type,
.vertical-card .type {
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-bottom: 1px solid lightgray;
}

.card .card-container {
    width: 75%;
    font-size: 13px;
}

.vertical-card-container {
    width: 92%;
}

.card-container, .vertical-card-container {
    margin: 0 auto;
}

.vertical-card-title {
    padding-top: 25px;
}

.vertical-card-container .contact-button {
    padding-top: 25px;
}

.vertical-card-container .subtitle {
    width: 100%;
    padding-top: 10px;
}

.vertical-card-container .description-vertical-card {
    width: 100%;
    font-size: 13px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.vertical-card-container .contact-button button {
    padding: 8px 65px;
}

.contact-button button a {
    color: white;
}

.card .card-container .border-line {
    width: 55px;
    height: 5px;
    border-bottom: 1px solid lightgray;
    padding-top: 18px;
}

.card-container .priority ul li {
    list-style-type: none;
}

.card-container .user h2 {
    font-size: 18px;
    padding-top: 18px;
}

.card-container .price .price-month
 {
    font-weight: bold;
    padding: 8px 0;
}

.card-container .price .month {
    font-weight: 600;
    color: gray;
    padding-bottom: 8px;
}

.card-container .quantity,
.card-container .space,
.card-container .functions {
    padding: 10px 0;
}

.card-container .button {
    padding-top: 16px;
}

.card-container .button button {
    padding: 8px 49.2px;
}

.card-container .button button a {
    color: white;
}

.card-container .link-buy {
    padding-top: 26px;
}

.card-container .link-buy a {
    color: rgb(0, 97, 255);
    text-decoration: underline;
    text-decoration-color: rgb(111, 190, 221);
    font-weight: 700;
}

.card-container .title-priority h3 {
    padding-top: 25px;
}

.card-container .priority,
.operation-card h3,
.operation-card p {
    padding-top: 15px;
}

.priority ul .line {
    line-height: 33px;
}

.priority ul .no-line {
    padding-bottom: 5px;
}

.priority ul li .check {
    color: rgb(0, 97, 255);
}


.partner {
    min-width: 1270px;
    width: 100%;
    height: 470px;
    margin-top: 120px;
}

.partner .container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.container .img-partner {
    width: 54%;
}

.container .text-partner {
    width: 40%;
    margin-left: 60px;
}

.img-partner img {
    width: 570px;
    height: 465px;
}

.text-partner h2 {
    padding-top: 35px;
}

.text-partner .description-partner p {
    padding-top: 20px;
}

.text-partner .search-partner {
    padding-top: 25px;
}

.text-partner .search-partner button {
    padding: 7px 15px;
    border: 1px solid black;
    background-color: white;
}

.operation {
    min-width: 900px;
    width: 100%;
}

.operation .contenitore {
    width: 80%;
    margin: 0 auto;
    margin-top: 120px;
}

.contenitore .operation-title h1 {
    padding-bottom: 25px;
    font-size: 35px;
}

.contenitore .operation-row {
    width: 100%;
}

.operation-row .operation-card {
    width: 30%;
}

.operation-row .op-card-middle {
    margin: 0 5%;
}

.operation-card img {
    width: 324px;
    height: 240px;
}


.teams {
    margin-top: 120px;
}

.teams .container {
    width: 80%;
    height: 170px;
}

.container .teams-title {
    width: 46%;
}

.teams-title h1 {
    font-size: 35px;
}

.container .find-more {
    padding-top: 20px;
}

.container .find-more a {
    text-decoration: underline;
    color: rgb(0, 97, 255);
    font-weight: 700;
}

.large-container .row-companies {
    width: 100%;
    height: 400px;
}

.row-companies .first-column,
.row-companies .second-column {
    width: 400px;
    height: 400px;
}

.first-column .team-logo,
.second-column .team-logo {
    width: 200px;
    height: 200px;
    line-height: 190px;
    text-align: center;
}

.row-companies .text-teams {
    width: calc(100% - 800px);
    height: 400px;
    background-color: rgb(245, 245, 245);
}

.text-teams .text-container {
    width: 87%;
    height: 100%;
    margin: 0 auto;
}

.text-container .logo-text {
    height: 100px;
}

.text-container .citation p {
    padding: 35px 0;
}

.teams .large-container {
    height: 650px;
}

.large-container .business {
    height: 38.5%;
}

.container .row-business {
    width: 100%;
    height: 100%;
}

.title-business h1 {
    color: rgb(97, 8, 43);
    font-size: 35px;
    position: relative;
    top: 30%;
}

.title-business, .prova-button {
    width: 40%;
    height: 100%;
}

.row-business .prova-button {
    margin-left: 20%;
}

.prova-button button {
    background-color: white;
    border: 1px solid white;
    padding: 5px 50px;
    position: relative;
    top: 34%;
}


.questions {
    margin-top: 80px;
}

.questions .container {
    height: 100%;
}

.container .list-questions {
    padding-top: 30px;
}

.title-questions h1 {
    font-size: 27px;
}

.list-questions ul {
     list-style-type: none;
}

.list-questions ul li {
    position: relative;
    border-top: 1px solid lightgray;
    padding: 25px 0;
}

.list-questions ul li h4{
    display: inline-block;
}

ul li .sign-answer {
    position: absolute;
    right: 0;
}

footer > .large-container {
    max-width: 100vw;
    width: 100%;
    height: 420px;
    background-color: black;
}

.footer-container {
    width: 84%;
    height: 100%;
    margin-left: 80px;
}

.footer-container .footer-top {
    width: 100%;
    height: 165px;
    padding-top: 60px;
}

.footer-top .footer-column {
    width: 20%;
    height: 100%;
}

.footer-column ul {
    list-style-type: none;
}

.footer-column ul li {
    color: white;
    line-height: 25px;
    font-size: 13px;
}

.footer-column ul li h3 {
    padding-bottom: 7px;
    font-size: 19px;
}

.footer-column ul li a {
    color: white;
}

.footer-container .footer-bottom {
    width: 100%;
}

.footer-bottom .footer-border {
    width: 100px;
    height: 15px;
    border-bottom: 1px solid lightgray;
    padding-top: 90px;
}

.footer-bottom .language {
    color: lightgray;
    padding-top: 50px;
}

.language .fa-sort-up {
    vertical-align: sub;
}

.language span {
    font-size: 13px;
}

header .button-inizia #inizia {
    padding: 3px 15px;
}

.jumbotron-text #jumbotron-button {
    padding: 8px 15px;
    margin-top: 25px;
}

.jumbotron-text #annulla {
    margin-top: 10px;
    font-size: 11px;
}

.selection #right-selection {
    margin-left: 15px;
}

.cards-services .container #middle-card {
    margin: 0 3.5%;
}

.operation-card p #underline {
    text-decoration: underline;
    text-decoration-color: gray;
}

.contenitore #first-row {
    margin-bottom: 60px;
}

.first-column #bg-designit {
    background-color: rgb(162, 211, 155);
    border: 9px solid rgb(208, 233, 205);
}

.team-logo #designit {
    width: 170px;
    height: 40px;
    filter: invert(1);
    position: relative;
    top: 10px;
}

.first-column #bg-arizona {
    background-color: rgb(97, 8, 43);
}

.team-logo #arizona {
    width: 100px;
    height: 75px;
    filter: invert(1);
    position: relative;
    top: 34px;
}

.first-column #bg-florida {
    background-color: rgb(0, 147, 206);
}

.team-logo #florida {
    width: 100px;
    height: 20px;
    filter: invert(1);
    position: relative;
    top: 10px;
}

.first-column #bg-topps {
    background-color: rgb(255, 28, 28);
}

.team-logo #topps {
    width: 100px;
    height: 45px;
    filter: invert(1);
    position: relative;
    top: 15px;
}

.second-column #bg-bicycle {
    background-color: rgb(213, 0, 31);
}

.team-logo #bicycle {
    width: 100px;
    height: 45px;
    filter: invert(1);
    position: relative;
    top: 20px;
}

.second-column #bg-hearst {
    background-color: rgb(180, 208, 231);
}

.team-logo #hearst {
    width: 105px;
    height: 35px;
    filter: invert(1);
    position: relative;
    top: 15px;
}

.second-column #bg-planet {
    background-color: rgb(13, 36, 129);
}

.team-logo #planet {
    width: 105px;
    height: 60px;
    filter: invert(1);
    position: relative;
    top: 25px;
}

.second-column #bg-channel {
    background-color: rgb(255, 216, 48);
}

.team-logo #channel {
    width: 105px;
    height: 70px;
    filter: invert(1);
    position: relative;
    top: 32px;
}

.logo-text #designit-logo {
    width: 110px;
    height: 46px;
    margin-top: 30px;
}

.logo-text #border-logo {
    width: 45px;
    height: 10px;
    border-bottom: 2px solid lightgray;
    position: relative;
    top: 10px;
}

.list-questions ul #line-bottom {
    border-bottom: 1px solid lightgray;
}