*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

header{
    width: 100%;
    height: 70px;
    padding: 0 10px;
    line-height: 70px;
}

header li {
    display: inline-block;
    padding: 0 15px;
}

a {
    text-decoration: none;
    color: black;
}

button {
    background-color: rgb(0, 97, 255);
    border: 1px solid rgb(0, 97, 255);
}

header .logo img {
    vertical-align: sub;
}

header .button-inizia #inizia a,
#jumbotron .large-container .container .jumbotron-text a {
    color: white;
}

.jumbotron-img img {
    width: 700px;
    height: 380px;
}

.title h1 {
    font-size: 60px;
    padding-top: 35px;
    padding-bottom: 20px;
}

.large-container{
    width: 100%;
    height: 545px;
    background-color: rgb(180, 208, 231);
}

.container {
    width: 80%;
    height: 600px;
    margin: 0 auto;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

header .button-inizia {
    height: 100%;
}

header .logo,
header .float-left {
    float: left;
}

header .button-inizia,
header .float-right {
    float: right;
}

header .logo {
    width: 127px;
    height: 100%;
}

header .float-left,
header .float-right {
    height: 100%;
    margin: 0 25px;
}

.jumbotron-text .arrow{
    font-size: 50px;
    margin-top: 35px;
}

#jumbotron .large-container .container .jumbotron-text {
    width: 35%;
}

#jumbotron .large-container .container .jumbotron-img {
    width: 65%;
}

.jumbotron-text, .jumbotron-img {
    float: left;
}

.cards-services {
    margin-top: 120px;
}

.cards-services .container .selection {
    padding-bottom: 25px;
}

.cards-services .container .cards-services-title h1 {
    padding-bottom: 30px;
}

.cards-services .container .card {
    width: 31%;
    background-color: rosybrown;
    float: left;
    border: 1px solid gray;
}

.cards-services .container .card .type {
    width: 100%;
    height: 35px;
    background-color: slateblue;
    line-height: 35px;
    text-align: center;
    border: 1px solid gray;
}

.card .card-container {
    width: 75%;
    margin: 0 auto;
    background-color: wheat;
    font-size: 13px;
}

.card .card-container .border {
    width: 55px;
    height: 5px;
    border-bottom: 1px solid gray;
    padding-top: 18px;
}

.card-container .priority ul li {
    list-style-type: none;
}

.card .card-container .user h2 {
    font-size: 18px;
    padding-top: 18px;
}

.card-container .price .price-month
 {
    font-weight: bold;
    padding: 8px 0;
}

.card-container .price .month {
    font-weight: 600;
    color: gray;
    padding-bottom: 8px;
}

.card-container .quantity,
.card-container .space,
.card-container .functions {
    padding: 10px 0;
}

.card-container .button {
    padding-top: 16px;
}

.card-container .button button {
    padding: 8px 45.8px;
}

.card-container .button button a {
    color: white;
}

.card-container .link-buy {
    padding-top: 26px;
}

.card-container .link-buy a {
    color: rgb(0, 97, 255);
    text-decoration: underline;
    text-decoration-color: rgb(111, 190, 221);
}

.card-container .title-priority h3 {
    padding-top: 25px;
}

.card-container .priority {
    padding-top: 15px;
}

/* .card-container .priority ul {
    
} */

.priority ul .line {
    line-height: 33px;
}

.priority ul .no-line {
    padding-bottom: 5px;
}

.priority ul li .check {
    color: rgb(0, 97, 255);
}

#bg-footer {
    background-color: darkred;
    margin-top: 130px;
}

header .button-inizia #inizia {
    padding: 3px 15px;
}

.jumbotron-text #jumbotron-button {
    padding: 8px 15px;
    margin-top: 25px;
}

.jumbotron-text #annulla {
    margin-top: 10px;
    font-size: 11px;
}

.selection #right-selection {
    margin-left: 15px;
}

.cards-services .container #middle-card {
    margin: 0 37.7px;
}